<!DOCTYPE html>
<html>

<body>
    <h1>Uploading files</h1>
    <form method="POST" action="/uploads/image-upload" enctype="multipart/formdata">
        <div>
            <label>Select your profile picture:</label>
            <input type="file" name="profile_pic" />
        </div>
        <div>
            <input type="submit" name="btn_upload_profile_pic" value="Upload" />
        </div>
    </form>
    <form method="POST" action="/uploads/pdf-upload" enctype="multipart/formdata">
        <div>
            <label>Select your file</label>
            <input type="file" name="files" />
        </div>
        <div>
            <input type="submit" name="btn_upload_file" value="Upload" />
        </div>
    </form>
</body>

</html>